@model BPMPlus.ViewModels.ProjectChartViewModel
@{
    ViewData["Title"] = "_GetChart";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- 長條圖顯示的位置 -->
    <canvas id="myChart"></canvas>

    <!-- 長條圖的原始程式碼, 可以移除掉長條圖就會消失 -->
    


</body>
</html>
<script>
    const chartElement = document.getElementById('myChart');

    new Chart(chartElement, {
        type: 'bar',
        data: {
            labels: ['第一個', '第二個', '第三個'],
            datasets: [{
                label: '我是種類',
                data: [1, 10, 5],
            }]
        }
    });
</script>