@model BPMPlus.ViewModels.LoginVM
@section Style {
    <style>
        .validConfirm {
            font-size: 25px;
        }
    </style>
}

<div class="login-page bg-light">
    <div class="login-box">
        <div class="login-logo">
            <img src="/BPMPLUS.png" alt="" class="mb-3" style="width:20rem;">
        </div>
        <!-- /.login-logo -->
        @using (Html.BeginForm("EmailValid", "login", new { ReturnUrl = Context.Request.Query["ReturnUrl"] }, FormMethod.Post, true, new { name = "loginForm", autocomplete = "off" }))
{
        <div>
            <p class="validConfirm login-box-msg text-bold">忘記密碼</p>
            <div class="input-group mb-3">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "請輸入您的信箱" })
                <div class="input-group-append">
                    <div class="input-group">
                    </div>
                </div>
            </div>
            <form>
                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">寄送驗證碼</button>
                    </div>
                    <!-- /.col -->
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <a></a>
                                @Html.ActionLink("返回登入", "Index", "Home")
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
}
    </div>
</div>