@model BPMPlus.ViewModels.LoginVM
@section Style {
    <style>
        .welcomeText {
            font-size: 25px;
        }
    </style>
}

@{
    ViewData["Title"] = "Home Page";
}


<!--登入區塊-->
@using (Html.BeginForm("login", "login", new { ReturnUrl = Context.Request.Query["ReturnUrl"] }, FormMethod.Post, true, new { name = "loginForm", autocomplete = "off" }))
{
    <div class="login-page bg-light">
        <div class="login-box">
            <div class="login-logo">
                <img src="" alt="" class="mb-3" style="width:20rem;">
            </div>
            <!-- /.login-logo -->
            <div>
                <p class="welcomeText login-box-msg text-bold">歡迎使用公司內部需求系統</p>
                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.UserId, new { @class = "form-control", placeholder = "員工編號" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    @Html.PasswordFor(p => p.Password, new { @class = "form-control", placeholder = "登入密碼" })
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <p class="mb-1 col-8">
                        @Html.ActionLink("忘記密碼", "EmailValid", "Login")
                    </p>    
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">登入</button>
                    </div>
                    <!-- /.col -->
                </div>
                <div style="color:red;">
                    <!--顯示登入失敗訊息 -->
                    @ViewBag.errMsg
                </div>
            </div>
        </div>
    </div>
    
    
}
<!--./登入區塊-->