@using BPMPlus.Controllers
@using BPMPlus.ViewModels.Login
@model ChangePasswordVM
@section Style {
    <style>
        .pdReset {
            font-size: 25px;
        }
    </style>
}
<link rel="icon" type="image/x-icon" href="~/images/favicon.ico">

    <div id="app">
        <div class="login-page bg-light">
            <div class="login-box">
                <div class="login-logo">
                </div>
                <!-- /.login-logo -->
                <div>
                    <p class="pdReset login-box-msg text-bold">重新設定密碼</p>

                    <div class="row">

                        <div class="col-7">
                            <div class="input-group mb-3">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control OldPaswword", placeholder = "請輸入舊密碼" })
                            </div>
                            <div class="input-group mb-3">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control NewPassword", placeholder = "請輸入新密碼" })
                            </div>
                            <div class="text-danger text">
                            </div>
                            <div class="input-group mb-3">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control ConfirmPassword", placeholder = "再次輸入新密碼" })
                            </div>

                        </div>

                    <div class="col-5" style="font-size:12px;">
                            <div><p class="passwordLength">密碼8碼以上</p></div>
                            <div><p class="upper">1個大寫英文</p></div>
                            <div><p class="lower">1個小寫英文</p></div>
                            <div><p class="num">包含1個數字</p></div>
                            <div><p class="nonalphas">1個特殊符號!@@#$_+.</p></div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4"></div>
                        <div class="col-4">
                            <button id="btnSubmit" class="btn btn-primary btn-block">送出修改</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </div>

            </div>
        </div>

    </div>



@section Scripts
{
    <script>
        $(document).ready(function () {
            $(".NewPassword").on('change', function () {

                let input = $(this).val();
                let isLongEnough = input.length >= 8;
                let hasUpperCase = /[A-Z]/.test(input);
                let hasLowerCase = /[a-z]/.test(input);
                let hasNumbers = /\d/.test(input);
                let hasNonalphas = /[!@@#$_+.]/.test(input);

                let cheakIcon = `<i class="fa-regular fa-circle-check icon" style="color: #15b300;"></i>`;
                let wrongIcon = `<i class="fa-regular fa-circle-xmark icon" style="color: #ff0000;"></i>`;

                $(".icon").remove();

                if (isLongEnough) {
                    $(".passwordLength").append(cheakIcon);
                } else {
                    $(".passwordLength").append(wrongIcon);
                }
                if (hasUpperCase) {
                    $(".upper").append(cheakIcon);
                } else {
                    $(".upper").append(wrongIcon);
                }
                if (hasLowerCase) {
                    $(".lower").append(cheakIcon);
                } else {
                    $(".lower").append(wrongIcon);
                }
                if (hasNumbers){
                    $(".num").append(cheakIcon);
                }else{
                    $(".num").append(wrongIcon);
                }
                if (hasNonalphas){
                    $(".nonalphas").append(cheakIcon);
                } else {
                    $(".nonalphas").append(wrongIcon);
                }

            });

            $("#btnSubmit").click(function () {
                $(this).disabled = true;

                let oldPaswword = $(".OldPaswword").val();
                let newPassword = $(".NewPassword").val();
                let confirmPassword = $(".ConfirmPassword").val();

                let isLongEnough = newPassword.length >= 8;
                let hasUpperCase = /[A-Z]/.test(newPassword);
                let hasLowerCase = /[a-z]/.test(newPassword);
                let hasNumbers = /\d/.test(newPassword);
                let hasNonalphas = /[!@@#$_+.]/.test(newPassword);


                if (oldPaswword == null) {
                    alert('舊密碼未輸入!');
                    return;
                }

                if (isLongEnough == false) {
                    alert('新密碼不到8個字!');
                    return;
                }
                if (hasUpperCase == false) {
                    alert('新密碼未包含大寫英文!');
                    return;
                }
                if (hasLowerCase == false) {
                    alert('新密碼未包含小寫英文!');
                    return;
                }
                if (hasNumbers == false) {
                    alert('新密碼未包含數字!');
                    return;
                }
                if (hasNonalphas == false) {
                    alert('新密碼未包含特殊符號!');
                    return;
                }

                if (confirmPassword == null) {
                    alert('確認新密碼不得為空!');
                    return;
                }

                if (confirmPassword != newPassword) {
                    alert('請確認新密碼是否輸入一致!');
                    return;
                }

                $.ajax({
                    url: '@Url.Action("ResetPassWord", "Login")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        OldPassword: oldPaswword,
                        NewPassword: newPassword,
                        ConfirmPassword: confirmPassword
                    }),
                    success: function (response) {
                        if (response.success == true) {
                            alert(response.data);
                            window.location.replace("/Home/Index");
                        } else {
                            alert(response.message);
                            $(this).disabled = false;
                            window.location.replace("/Login/ResetPassWord");
                        }
                    }
                });

            });

        });

    </script>
}