@section Style {
    <style>
        .pdReset {
            font-size: 25px;
        }
    </style>
}
<div class="login-page bg-light">
    <div class="login-box">
        <div class="login-logo">
            <img src="" alt="" class="mb-3" style="width:20rem;">
        </div>
        <!-- /.login-logo -->
        <div>
            <p class="pdReset login-box-msg text-bold">重新設定密碼</p>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="請輸入舊密碼">
                <div class="input-group-append">
                    <div class="input-group">
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="請輸入新密碼">
                <div class="input-group-append">
                    <div class="input-group">
                    </div>
                </div>
            </div>
            <form action="../../index3.html" method="post">
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember">
                            <a href="#" class="">返回登入</a>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">送出修改</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>
</div>