@{
	ViewData["Title"] = "Home Page";
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@section Style {
	<style>
		.content-wrapper {
			background-image: linear-gradient(135deg, #f5f7fa 0%, #f2f7ff 100%);
		}

		.title {
			font-weight: bold;
			color: rgba(0, 81, 255, 0.884);
			text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
		}

		.card {
			border: none;
			box-shadow: 0 4px 6px rgba(0,0,0,0.1);
			margin-bottom: 20px;
		}

		.card-header {
			background-color: rgba(0, 81, 255, 0.884);
			color: white;
			font-weight: bold;
			text-align:center;
		}

		.card-body {
			text-align: center;
		}

		.btn-custom {
			background-color: #0056b3;
			color: white;
			border: none;
		}

			.btn-custom:hover {
				background-color: #003d82;
				color: white;
			}

		.table th {
			background-color: #e9ecef;
		}

		.welcome-message {
			font-size: 1.2rem;
			margin-bottom: 10px;
		}

		.alert-message {
			font-size: 1rem;
			color: #721c24;
			background-color: #f8d7da;
			border-color: #f5c6cb;
			padding: 10px;
			border-radius: 5px;
			margin-bottom: 20px;
		}

	</style>
	<link rel="stylesheet" href="~/font-awesome/css/all.css" />
}

<div class="container">
	<div class="content-header text-center">
		<h2 class="title">企業流程管理系統</h2>
	</div>
	<div class="row">
		<div class="col-12">

			<div class="card">
				<div class="card-header">
					系統訊息
				</div>
				<div class="card-body">
					@{
						var userName = HttpContextAccessor.HttpContext.Request.Cookies["UserName"];
						<p>@userName 歡迎您回來</p>
					}
					<div style="color:red;">
						<!--顯示無新建工單權限訊息 -->
						@ViewBag.NotPermittedToCreateForm
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header d-flex justify-content-center align-items-center">
					重要訊息
				</div>
				<div class="collapse show" id="collapseOne">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>發布日期</th>
										<th>發布部門</th>
										<th>公告內容</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>2024-09-24</td>
										<td>資訊部</td>
										<td>9月30日中午12:00至13:00進行系統升級，請各位同仁注意系統暫時中斷。</td>
									</tr>
									<tr>
										<td>2024-09-22</td>
										<td>人資部</td>
										<td>9月25日將舉辦員工關懷活動，歡迎各位同仁參加。</td>
									</tr>
									<tr>
										<td>2024-09-20</td>
										<td>行銷部</td>
										<td>9月28日將舉行新品推廣活動，行銷策略會議定於9月23日進行。</td>
									</tr>
									<tr>
										<td>2024-09-18</td>
										<td>財會部</td>
										<td>第三季度財務審計將於9月25日開始，各部門請配合提供所需資料。</td>
									</tr>
									<tr>
										<td>2024-09-16</td>
										<td>採購部</td>
										<td>9月22日為季度採購日，請提前提交各部門的採購需求。</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>