<div>
	<div id="app" class="row">

		@* 時間表的部分 *@
		<div class="col-5">
			<table class="info" style="width:100%;">
				<thead>
					<tr>
						<th>Time</th>
						<th v-for="(room, index) in rooms" :key=" index">{{ room }}</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="time in times" :key="time">
						<td>{{ time }}</td>
						<td v-for="room in rooms" :key="room" :class="{ booked: isBooked(room, time) }" @@click="handclick(room,time)"></td>
					</tr>
				</tbody>
			</table>
		</div>


	</div>

</div>