@model BPMPlus.Models.Form

<h4>Form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FormId" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectId" class="control-label"></label>
                <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <input asp-for="DepartmentId" class="form-control" />
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedFinishedDay" class="control-label"></label>
                <input asp-for="ExpectedFinishedDay" class="form-control" />
                <span asp-validation-for="ExpectedFinishedDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HandleDepartmentId" class="control-label"></label>
                <input asp-for="HandleDepartmentId" class="form-control" />
                <span asp-validation-for="HandleDepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tel" class="control-label"></label>
                <input asp-for="Tel" class="form-control" />
                <span asp-validation-for="Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessNodeId" class="control-label"></label>
                <select asp-for="ProcessNodeId" class="form-control" asp-items="ViewBag.ProcessNodeId"></select>
                <span asp-validation-for="ProcessNodeId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FormIsActive" /> @Html.DisplayNameFor(model => model.FormIsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="man_day" class="control-label"></label>
                <input asp-for="man_day" class="form-control" />
                <span asp-validation-for="man_day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedTime" class="control-label"></label>
                <input asp-for="CreatedTime" class="form-control" />
                <span asp-validation-for="CreatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedTime" class="control-label"></label>
                <input asp-for="UpdatedTime" class="form-control" />
                <span asp-validation-for="UpdatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    
    <a asp-action="Index">Back to List</a>
</div>

