@model BPMPlus.ViewModels.CreateProjectsViewModel

@section Style {

    <link rel="stylesheet" href="~/font-awesome/css/all.css" />

    <style>

        .content-wrapper {
            background-color: rgb(225, 239, 252);
        }

        .outside {
            padding: 20px;
            background-color: rgb(225, 239, 252);
            height: 100%;
        }

        .title {
            color: rgba(0, 81, 255, 0.884);
            margin-top: 20px;
            margin-bottom: 30px;
            margin-left: 30px;
            font-weight: bold;
        }

        .inside {
            margin-top: 30px;
            padding: 20px;
            background-color: rgb(225, 229, 252);
            border: 0.5px solid gainsboro;
        }

      

        .form-label {
            padding-top: 5px;
            display: flex;
            width: 50%;
            margin: 2%;
        }

        label {
            margin: auto;
            display: inline;
            width: 100px;
            margin-right: 20PX;
            background-color: #458bfc;
            text-align: center;
            color: white;
            text-decoration: double;
            border-radius: 5%;
        }

        .inputField{
            display:flex;
        }

        input {
            width:100px;
        }

        #btnSubmit{
            height:40px;
            margin-top:70px;
        }

        .form-label{
            width:45%;
        }
    
    </style>
}


<!-- outside -->
<div class="outside">
 

    <h1 class="title">新建專案</h1>

    <!-- inside -->
    <div class="inside">
        <form>
            <div class="mb-3 inputField ">
                <div class="mb-3 form-label">
                    <label >部門</label>
                    <input  class="form-control" value="@Model.DepartmentName"  Disabled>
                </div>
                <div class="mb-3 form-label">
                    <label >專案名稱</label>
                    <input id="inputProject" class="form-control"  placeholder="請輸入專案名稱" >
                </div>
            </div>
            <div class="mb-3 inputField ">
                <div class="mb-3 form-label">
                    <label>員工編號</label>
                    <input class="form-control" value="@Model.UserId" Disabled>
                </div>
                <div class="mb-3 form-label">
                    <label>員工姓名</label>
                    <input class="form-control" value="@Model.UserName" Disabled>
                </div>
            </div>
            <div class="mb-3 inputField ">
                <div class="mb-3 form-label">
                    <label>專案期限</label>
                    <input id="inputDeadline" class="form-control float-right" type="date">
                </div>
            </div>
           @*  <div class="mb-3 inputField ">
                <div class="mb-3 form-label">
                    <label>甘特圖</label>
                    <input class="form-control" type="file">
                </div>
            </div> *@
            <div class="mb-3 inputField ">
                <div class="mb-3 form-label">
                    <label>專案概要</label>
                    <textarea id="textSummary" rows="5" cols="52"></textarea>
                </div>
                <div class="mb-3 form-label">
                    <button type="submit" id="btnSubmit" class="btn btn-warning">送出</button>
                </div>
            </div>
        
        </form>
    </div>
</div>




@section Scripts {
     
    <script>
        $("#btnSubmit").click(function () {
            let userConfirmed = confirm("是否送出?");
            if (!userConfirmed) return;

            //檢查資料

            let projectName = $("#inputProject").val();
            let deadLine = $("#inputDeadline").val();
            let summary = $("#textSummary").val();
            let now = new Date(); //現在時間
            let inputDate = new Date(deadLine); //輸入時間
            
            //驗證
            if (projectName == "") {
                alert("專案名稱不可為空");
                return;
            }
            if (deadLine == "") {
                alert("專案期限不可為空");
                return;
            }

            if (summary == "") {
                alert("專案概要不可為空");
                return;
            }

            if (inputDate < now) {
                alert("專案期限不可早於或等於今日");
                return;
            }

            let formData = new FormData();
            formData.append('projectName', projectName);
            formData.append('deadLine', deadLine);
            formData.append('summary', summary);

            fetch('/CreateProjects/Create',
                {
                    method: 'POST',
                    body: formData,

                }).then(response => {
                        response.json();
                        alert("新增成功");
                        window.location.href = "/Home/Index/";
                    }
                  )
                // .then((json) => console.log(json))
                .catch((error) => console.log("Error:", error))
                // .then((response) => console.log("Success:", response));

        });

    </script>

}