


@section Style
{
    <style>
        .content-wrapper {
            background-color: rgb(225, 239, 252);
        }

    </style>
}

<div class="outside">

    <div class="inside">


    </div>


</div>





@section Scripts
{

}